.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.content {
  max-width: 800px;
  padding: 0 20px; /* Responsif untuk layar kecil */
}

.learn-more {
  background-color: #007BFF; /* Warna biru untuk tombol */
  color: #ffffff;
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.learn-more:hover {
  transform: scale(1.1); /* Animasi pembesaran tombol saat hover */
}
